* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: black; */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 500px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  padding: 20px;
}

.inputBox {
  /* background-color: red; */
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.inputBox > input {
  height: 100%;
  /* border: none; */
  padding-left: 20px;
  font-size: 20px;
  width: 70%;
}

.inputBox > input:focus {
  outline: none;
}

.inputBox > button {
  width: 29%;
  height: 100%;
}

.todoList {
    /* background-color: red; */
    margin-top: 20px;
}

.todoList > li {
    height: 50px;
    list-style-type: none;
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icons {
    padding-right: 20px;
   display: flex;
   gap: 10px;

}

i {
    cursor: pointer;
}

.btn {
  padding: 15px;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 30px;
  
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#addBtn {
   padding: 15px;
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
}