<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <title>Class 19 - Flexbox</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Features</li>
                <li>Services</li>
                <li>Contact</li>
            </ul>
        </nav>
    </header>

    <section id="hero">
        <h1>Welcome to My Store</h1>
        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores aut odio pariatur repellendus sapiente
                cupiditate eligendi dolorum amet inventore minus?</p>
        </div>
        <div class="hero-buttons">
            <button>
                <a href="#shop">
                    Shop Now
                </a>
            </button>

            <button>
                Contact Us
            </button>
        </div>
    </section>

    <div id="shop">
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
        <div>
            <p>Product Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, officia?</p>
        </div>
    </div>
</body>

</html>